@charset "UTF-8";
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
pre {
  all: revert;
}

/* reset default text opacity of input placeholder */
::-webkit-input-placeholder {
  color: unset;
}
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: "";
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 450px;
  background-color: #fff;
  border-radius: 10px;
  padding: 50px;
}
.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 350px;
}
.form__title {
  text-align: center;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  color: #111;
  margin-bottom: 40px;
}
.form__input-box {
  margin-bottom: 15px;
}
.form__input-box > input {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  color: #516d7b;
  background: #f0f1f8;
  border-radius: 8px;
  padding: 22px 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.form__btn-box {
  margin-bottom: 15px;
}
.form__btn-box > button {
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  padding: 22px 26px;
  text-align: center;
  background: #0074c4;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.form__btn-box > a {
  cursor: pointer;
  display: block;
  width: 100%;
  border-radius: 10px;
  padding: 22px 26px;
  text-align: center;
  background: #fff;
  color: #0074c4;
  border: 2px solid #0074c4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.form__label {
  font-size: 16px;
  font-weight: 500;
  color: #516d7b;
  margin-bottom: 20px;
  text-align: center;
}
.form__social {
  text-align: center;
}
.form__social-item {
  display: inline-block;
  margin-right: 10px;
}
.form__social-item:last-child {
  margin-right: 0;
}

.auth {
  background: -o-linear-gradient(45deg, #6a85b6, #bac8e0);
  background: linear-gradient(45deg, #6a85b6, #bac8e0);
}

.admin {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f6fb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.admin__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 240px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #343951;
  -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  color: #fff;
}
.admin__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.admin__logo > h1 {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}
.admin__logo > img {
  width: 40px;
  margin-right: 10px;
}
.admin__list:last-child {
  margin-top: auto;
  margin-bottom: 50px;
}
.admin__list > li > a {
  padding-left: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  text-decoration: none;
}
.admin__list > li > a::before {
  content: "";
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: #ffa000;
}
.admin__list > li > a:hover::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.admin__list > li > a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.admin__content {
  padding-left: 280px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}