.admin {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f6fb;
  display: flex;
  &__menu {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343951;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    color: #fff;
  }
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    & > h1 {
      color: #fff;
      font-size: 24px;
      text-decoration: none;
      font-family: "Rubik", sans-serif;
      font-weight: bold;
    }
    & > img {
      width: 40px;
      margin-right: 10px;
    }
  }
  &__list {
    &:last-child {
      margin-top: auto;
      margin-bottom: 50px;
    }
    & > li > a {
      padding-left: 30px;
      position: relative;
      display: flex;
      align-items: center;
      height: 45px;
      text-decoration: none;
      &::before {
        content: "";
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 5px;
        height: 100%;
        background-color: #ffa000;
      }
      &:hover::before {
        display: flex;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
  &__content {
    padding-left: 280px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
}
